<% include partials/head.ejs %>


<h1 style="text-align: center">Welcome</h1>
<br><br><br><br><br><br><br><br><br><br>
<center>
    <a href="register"><button value="register">Register New</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="manage"><button value="manage">Manage Existing</button></a>
</center>
</body>
</html>