<% include partials/head.ejs %>


<h1 style="text-align: center">Login</h1>

<br><br><br><br><br><br><br><br><br><br>
<center>
    <a href="Admin"><button value="Admin">Admin</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="User"><button value="User">User</button></a>
</center>
</body>
</html>
