<% include partials/head.ejs %>

<h1 style="text-align: center">Marketplace </h1>

<br><br><br><br><br><br><br><br><br><br>
<center>
    <a href="buy"><button value="Buy">Buy</button></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="sell"><button value="Sell">Sell</button></a>
</center>
</body>
</html>