<!DOCTYPE html>
<html lang="en">
<head>
        <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- Add icon library -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <style>
                  
                    body{
                             background: #0d1521;
                             font-family: tahoma;
                                 color: #989898;
                        }
                body {font-family: Arial, Helvetica, sans-serif;}
                * {box-sizing: border-box;}
                
                .input-container {
                  display: -ms-flexbox; /* IE10 */
                  display: flex;
                  width: 100%;
                  margin-bottom: 15px;
                }
                
                .icon {
                  padding: 10px;
                  background: dodgerblue;
                  color: white;
                  min-width: 50px;
                  text-align: center;
                }
                
                .input-field {
                  width: 100%;
                  padding: 10px;
                  outline: none;
                }
                
                .input-field:focus {
                  border: 2px solid dodgerblue;
                }
                
                /* Set a style for the submit button */
                .btn {
                  background-color: dodgerblue;
                  color: white;
                  padding: 15px 20px;
                  border: none;
                  cursor: pointer;
                  width: 100%;
                  opacity: 0.9;
                }
                
                .btn:hover {
                  opacity: 1;
                }
                </style>
                </head>
                <body>
                    <h1>Asset Management</h1>
                    <br><br><br><br><br><br><br>
                
                <form  action="/profile" method="POST" style="max-width:500px;margin:auto">
                  <h2>Access Your Account</h2>
                  <div class="input-container">
                    <i class="fa fa-user icon"></i>
                    <input class="input-field" type="text" placeholder="User ID" name="usrid">
                  </div>
                
                  <div class="input-container">
                    <i class="fa fa-envelope icon"></i>
                    <input class="input-field" type="text" placeholder="Email" name="email">
                  </div>
                  
                  <div class="input-container">
                    <i class="fa fa-key icon"></i>
                    <input class="input-field" type="Secret Key" placeholder="Secret Key" name="key">
                  </div>
                
                  <!--<button type="submit" class="btn">Login</button> -->
                  <a href="profile"><button value="Profile" class="btn" >Login</button></a>
                </form>
                </body>
    
</body>
</html>